storeContainer{
  box-sizing: border-box;
  font-family:'Akshar', sans-serif;
  color:white;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  /* background-color: green; */
  width:80%;
  height:80%;
  display:flex;
  flex-direction: row;
  gap:5px;
  user-select: none;
}

*{
  box-sizing: border-box;
}

storeBasket{
  display: flex;
  flex-direction: column;
  height:100%;
  background-color: rgba(0,0,0,0.5);
}

.basketTitle{
  width:100%;
  background-color:rgba(0,0,0,0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:5px;
  padding:10px;
}

basketContent{
  height:100%;
  display:grid;
  padding:5px;
  align-items: center;
  justify-content: center;
  gap:10px;
  grid-template-columns: repeat(3, 160px);
  grid-template-rows: repeat(4, 250px);
  overflow-x: hidden !important;
  overflow-y: auto;
}

basketContent::-webkit-scrollbar{
  width: 0px;
}

basketFooter{
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#checkOutButton{
  background-color: rgba(59, 198, 20, 0.5);
  border-radius: 0px;
  color:rgb(177, 177, 177);
}

#checkOutButton:hover{
  transition: none;
  cursor: pointer;
  color:rgb(255, 255, 255);
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.75);
}

storeFront{  
  transition: all 0.19s ease-in-out;
  /* border-radius: 0px; */
  display:flex;
  flex-direction: column;
  width:75%;
  height: 100%;
  background-color:rgba(0,0,0,0.5);
}




storeTitleBar{

  width:100%;
  background-color:rgba(0,0,0,0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:5px;
  padding:10px;
}

endBox{
  /* width:100%; */
  /* justify-self: flex-end; */
  margin-left: auto !important;
  padding:5px;
  /* background-color: red; */
  display: flex; 
  font-size:125%;
}

myInfo{
  width:auto;
}

basket{

}

basket > i{
  transition: all 0.19s ease-in-out;
  color:rgb(195, 195, 195);
}

basket > i:hover{
  cursor: pointer;
  color:rgb(255, 255, 255);
  scale: 1.1;
}

storeContent{
  width:100%;
  height:100%;
  /* background-color: red; */

}

storeItem{
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  transition: all 0.19s ease-in-out;
  width:100%;
  height: 250px;
  background-color:rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:5px;
  padding:5px;
}

#prodName{
  font-size: 90%;
  font-weight: bold;
}

#prodImg{
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.discordapp.com/attachments/1017177128678215730/1143266029267595355/pngwing.com_6.png");
  background-size: 95% 95%;
  background-repeat: no-repeat;
  background-position: center;
}

#addToBasketGroup, #removeButtonGroup{
  width:100%;
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  justify-content: space-between;
  background-color: rgba(0,0,0,0.5);
  padding:5px;
}




#amountMinus, #amountPlus{
  background-color: rgba(0,0,0,0.5);
  padding:2px;
  color:rgb(195, 195, 195);
}

#amountMinus:hover,#amountPlus:hover{
  cursor: pointer;
  color:rgb(255, 255, 255);
  transform: scale(1.025);
}

#amountText{
  text-align: center;
  color:white;
  font-size: 115%;
}

#prodPrice{
  /* color:rgba(0,0,0,0.5); */
  font-size: 100%;
  font-weight: 600;
}

#addToBasket, #removeButton{
  background-color: rgba(173, 173, 173, 0.5);
  border-radius: 0px;
  color:rgb(177, 177, 177);
}

#addToBasket:hover, #removeButton:hover{
  transition: none;
  cursor: pointer;
  color:rgb(255, 255, 255);
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.75);
}

#addToBasket:hover{
  background-color: rgba(59, 198, 20, 0.5);
  border-radius: 0px;
  color:rgb(177, 177, 177);
}



#removeButton:hover{
  background-color: rgba(208, 58, 58, 0.5);
  border-radius: 0px;
  color:rgb(177, 177, 177);
}


checkout{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width: 50%;
  height: 50%;
  background-color:rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
}


.greyText{
  color:rgb(195, 195, 195);
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:5px;
  padding:5px;
}

.rowIcon{
  font-size: 115%;
}

.rowText{
  font-size: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  /* grid-template-rows: repeat(auto-fill, minmax(250px, 1fr)); Infinite rows */
  gap: 5px;
  width: 100%;
  height: 100%;
  padding: 5px;
  overflow-x: hidden !important;
  overflow-y: auto;
}

.grid::-webkit-scrollbar {
  width: 0px;
}


