.InvContainer{
  transition: all .25s ease-in-out;
  font-family:'Akshar', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  user-select: none;
  height: auto;
  width: auto;
  transition: all .25s ease-in-out;

  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 15px;
}



.countBox{

  border-radius: 5px;
  background: red;
  height: auto;
  width: 150px;

  padding: 6px;

  background: rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  gap: 5px;
}

.countLabel{
  width: 90%;
  text-align: center;
  color: white;
}

.count{
  font-size: 150%;
  border-radius: 5px;
  text-align: center;
  height: 30%;
  width: 50%;
  height: 35%;
}

/*
.InvBox{

  overflow: hidden;
  width: 750px;
  height: auto;
  max-height: 775px;
  background: rgba(0,0,0,0.6);

  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);

  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  align-content: center;
  align-items: center;
  gap: 5px;
} */

/* .MyInvGrid{
  min-height: 100px;
  padding: 7.5px;
  border-radius: 5px;
  display: grid;
  width: :90%;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 25px;
}  */


.MyInv {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  min-height: 100px;
  max-height: 775px;
  /* width: 610px; */

  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);

}

.InvTitle{

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  text-align: center;
  width: 100%;




  background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);


  opacity: 0.7;
  color: rgba(255,255,255,1.0);
  font-size: 150%;
}

.InvGrid {
  padding: 7.5px;
  min-height: 100px;
  border-radius: 5px;
  display: grid;
  /* width: :90%; */
  grid-template-columns: repeat(5, 100px);
  grid-gap: 17.5px;
}

.InvItem{

  background-color: rgba(15, 32, 39, 0.6);  /* fallback for old browsers */
  background-color: linear-gradient(to right, rgba(44, 83, 100,  0.6), rgba(32, 58, 67,  0.6), rgba(15, 32, 39,  0.6)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 0px 0px 1.5px 0px rgba(0,0,0,0.5);
  color: white;
  position: relative;
  width: 100px;
  height: 100px;
  background-image: url('https://purepng.com/public/uploads/large/purepng.com-breadfood-bakery-fresh-tasty-organic-bread-health-breakfast-wheat-barley-941524622680imb8v.png');
  background-size: 65% 65%;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  /*background-color: rgba(255,255,255,0.36);*/
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.InvItem:hover{
  box-shadow: 0px 0px 4px 0px rgba(255,255,255,0.75);
}

.ItemTitle{
  text-align: center;
  font-size: 75%;
  width: 100%;

  background: rgba(255,255,255,0.2);
}
.ItemCount{
  font-size: 75%;
  position: absolute;
  top: 3%;
  right: 5%;
}

.addItem{
  font-size: 190%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  color: grey;
}

.addItem > i:hover{
  color: white;
}



.ManagePage{
  opacity: 0.0;
  transition: all .25s ease-in-out;
  font-family:'Akshar', sans-serif;
  user-select: none;
  position: absolute;
  width: 250px;
  height: 250px;
  left: 42.5%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.6);
  font-size: 125%;


  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

}

.ManagePage > input[type="checkbox"]{
  width: 10%;
  height: 10%;
}

.ManagePage > input[type="number"]{
  width: 25%;
  height: 10%;
}


.ManageTitle{
  width: 100%;
  opacity: 0.6;

  text-align: center;
  color: white;

  font-size: 135%;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* width */
::-webkit-scrollbar {
  width: 0.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body {
  /* background-image: url("https://cdn.wccftech.com/wp-content/uploads/2014/11/gtav-comp-2-1.png"); */
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  overflow: hidden;
  background-color: transparent !important;
  font-family: 'Akshar', sans-serif;
}

.centered {
  text-align: center;
}

.offwhite {
  color: rgba(255, 255, 255, 0.7);
}

.medium-font {
  font-size: 125%;
}

.optLabel {
  color: white;
  font-size: 90%;
}

.tablecustom {

  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 5px;
  width: 60%;
  margin-bottom: none !important;
  min-height: fit-content;
  background: rgba(0, 0, 0, 0.0);
}

.tableRow {
  font-size: 75%;
  color: rgba(255, 255, 255, 0.6);
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  height: 20%;
}

.tableRow:hover {
  color: white;
}

.tippy-box[data-theme~='dirk'] {
  background-color: rgba(36, 43, 46, 0.35);
  color: white;
  font-weight: bolder;
  margin-left: 7.5px;
  font-size: 75%;
  user-select: none;
  /*          transform: skew(3deg, 3deg);*/
  border-radius: 5px;
}

input[type="text"] {
  background: rgba(255, 255, 255, 0.7);
  color: black;
  outline: none;
  border: none;
}

input[type="text"]:focus {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  /*      font-size:75%;*/
}



.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}

.buttonRow>i {
  color: grey;
  font-size: 150%;
}

.buttons:hover {
  color: white;
}

.deleteButton:hover {
  color: red;
}

.button {
  color: white;
}

.addButton {
  font-size: 150%;
  color: rgba(255, 255, 255, 0.6);
}

.addButton:hover {
  color: white;
}